<div class="page-heading">
    <h3>Halaman Beranda Dashboard Admin</h3>
</div>

<div class="page-content" style="margin-bottom: 400px;">
    <section class="row">
        <div class="col-12">
            <p>Selamat Datang di Halaman Utama Admin Dashboard</p>
        </div>
    </section>
</div>

<script>
    document.querySelector('#home').classList.add('active');
</script>