<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Landing Page SIMENTA - Sistem Informasi Manajemen Tugas Kuliah</title>
    <meta content="SIMENTA - Sistem Informasi Manajemen Tugas Kuliah" name="description">
    <meta content="SIMENTA - Sistem Informasi Manajemen Tugas Kuliah" name="keywords">
    <link rel="shortcut icon" href="img/logo-icon.svg" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo-icon.png" type="image/png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/slide/vendor/aos/aos.css" rel="stylesheet">
    <link href="/slide/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/slide/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/slide/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/slide/css/style.css" rel="stylesheet">
    <style>
        .navbar .btn-sign{
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            color: #000;
        }

        .navbar .btn-sign:hover{
            color: #fff;
        }

        .navbar .sign-li{
            padding: 10px;
        }

        #hero{
            background-image: url("/images/homepage-bg.png");
            background-size: cover;
        }
    </style>
</head>
<body>
    <%- include('../partials/nav') %>
    <%- body %>
    <%- include('../partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="/slide/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/slide/vendor/aos/aos.js"></script>
    <script src="/slide/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/slide/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/slide/js/main.js"></script>
</body>
</html>