<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
                <h1 style="color: #38b6ff;">Selamat Datang di SIMENTA</h1>
                <h2 style="color: #fff;">Cari tau lebih banyak tentang kami dengan klik tombol dibawah ini</h2>
            </div>
        </div>

        <div class="text-center">
            <a href="#counts" class="btn-get-started scrollto">Lebih Banyak</a>
        </div>

        <div class="row icon-boxes">
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="ri-stack-line"></i></div>
                    <h4 class="title"><a href="#">Mencatat Tugas Kuliah</a></h4>
                    <p class="description">Mempermudah mahasiswa dalam mencatat dan mendata semua tugas kuliah yang sudah ataupun yang belum diselesaikan.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="ri-command-line"></i></div>
                    <h4 class="title"><a href="">Mengelola Tugas Kuliah</a></h4>
                    <p class="description">Sistem akan menampilkan hitungan mundur deadline tugas, serta akan menjadwalkan / mengurutkannya dari deadline yang paling sedikit agar memudahkan mahasiswa dalam memilih untuk mengerjakan tugas yang mana terlebih dahulu.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="ri-fingerprint-line"></i></div>
                    <h4 class="title"><a href="">Efisiensi</a></h4>
                    <p class="description">Dengan sistem ini akan mempermudah mahasiswa dalam mengelola tugas kuliah mereka dan otomatis akan memberikan lebih banyak waktu luang untuk belajar ataupun aktivitas lainnya.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Hero -->

<main id="main">
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
        <div class="container">

            <div class="row justify-content-end">

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <!-- data-purecounter = jumlah data -->
                    <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="2" class="purecounter"></span>
                    <p>User</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="2" class="purecounter"></span>
                <p>Tugas Tercatat</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="2" class="purecounter"></span>
                <p>Tugas Terselesaikan</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="2" class="purecounter"></span>
                <p>Tugas Belum Terselesaikan</p>
                </div>
            </div>

            </div>

        </div>
    </section>
    <!-- End Counts Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">
            <div class="text-center">
                <h3>Daftarkan Akun Anda Sekarang</h3>
                <p> Untuk merasakan semua fitur dan layanan, segera daftarkan akun anda dengan klik tombol dibawah ini.</p>
                <a class="cta-btn" href="/auth/daftar">Daftar Akun SIMENTA</a>
            </div>
        </div>
    </section><!-- End Cta Section -->

</main>
<!-- End #main -->